/* Header */

body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
.header{

    background-image:url("images/banner/banner3.png");
    background-repeat: no-repeat;
    height: 808px;
    text-align:right;
    width: 1600px;
    padding-top: 20px;
    
    
}
.img{
    height:723.3;
    width: 569px;;


}
.btn{
    background-color:white;
    border-radius: 5px;
    border: none;
    height: 64px;
    width: 160px;
    font-size: 30px;
    color: steelblue;
}
.btn:hover{
    color: brown;
    background-color: darksalmon;
}
/* Main-section */
.main-div{
    display: flex;
    padding-left: 90px;
    

}
.spn{
    color: green;
    padding-left: 10px;
}
.text-div{
    margin-left:20px;
    padding-left: 50px;
    margin-top: 200px;


}
/* Icon section */
.image{
    display: flex;
      justify-content: center;
      gap: 80px;
      padding-top: 40px;
}
.plans{
    text-align: center;
    padding-top: 100px;
    

}
.img-icon{
   align-items: center;
   padding-left: 50px;
}
/* watch Section */
.watch{
    background-image: url("images/watch.png");
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin-left: 200px;

}
.gradient{
 background-image: url("images/gradient1.png");
 background-repeat: no-repeat; 
width:1140px;
height: 300px;
}
#btn-2{
    margin-left: 50px;
}

/* Footer */
footer{
    justify-content: space-between;
    display: flex;
    background-color: black;
    color: white;
    width: 1600px;
    height: 577px;
    margin-top: 50px;
} 
.footer-div{
    height: 317px;
    width: 485px;
    margin-left: 90px;
    margin-top: 150px;
}
.butn{
    margin-right: 150px;
    margin-top: 150px;
    

}
.contact:hover{
    color: darkred;
    background-color: chocolate;
}
input{
    height: 64px;
    width: 325px;
    font-size: 18px;
   color: whitesmoke;
}
input:hover{
    background-color:steelblue;
}
.contact{
    height: 64px;
    width: 170.11px;
    background-color:steelblue;
    color: white;
    font-size: 30px;
    border-radius: 5px;
   

    
}


